 <div class="head-nav">
          <ul class="head-nav__items">
            <li class="head-nav__item">
              <a href="/"><h3>Hakkımızda</h3></a>
            </li>
            <li class="head-nav__item">
              <a href="calismalarimiz"><h3>Çalışmalarımız</h3></a>
            </li>
            <li class="head-nav__item">
              <a href="s-s-s"><h3>Sık Sorulan Sorular</h3></a>
            </li>
            <li class="head-nav__item">
              <a href="randevu"><h3>Randevu Oluştur</h3></a>
            </li>
          </ul>
        </div>