<footer>
      <div id="footer">
        <div class="left-footer">
          <div class="head-logo">
            <img src="images/logo2.png" alt="logo" />
          </div>
        </div>
        <div class="right-footer">
          <div class="social-media">
            <ul class="social-media__links">
              <li class="social-media__link zoom">
                <i class="fa-brands fa-instagram"></i>
                <a href="#">instagram</a>
              </li>
              <li class="social-media__link zoom">
                <i class="fa-brands fa-facebook-square"></i>
                <a href="#">facebook</a>
              </li>
              <li class="social-media__link zoom">
                <i class="fa-brands fa-youtube"></i>
                <a href="#">youtube</a>
              </li>
              <li class="social-media__link zoom">
                <i class="fa-brands fa-twitter"></i>
                <a href="#">twitter</a>
              </li>
              <li class="social-media__link zoom">
                <i class="fa-brands fa-whatsapp"></i>
                <p class="text">+90 505 505 5050</p>
              </li>
            </ul>
          </div>

          <div class="adress">
            <p class="text">
              Yücetepe, Akdeniz Cd. No:31, 06570 Çankaya/Ankara
            </p>
          </div>
        </div>
      </div>
    </footer>