{{>pages-head}}
  <body>
   <header>
      <div id="head">
        <div class="head-logo">
          <img src="images/logo2.png" alt="logo" />
        </div>
        {{> pages-nav}}
      </div>
      
    </header>
    
    {{{body}}}
    {{> pages-footer}}
  </body>
</html>
