<link rel="stylesheet" href="css/calismalarimiz.css" />
    <section id="main-content">
      <div class="tattoo-pic">
        <img class="pic" src="images/back-tattoo.jpg" alt="tattoo-pic" />
      </div>
      <div class="tattoo-pic">
        <img class="pic" src="images/banana-tattoo.png" alt="tattoo-pic" />
      </div>
      <div class="tattoo-pic">
        <img class="pic" src="images/cards-tattoo.jpg" alt="tattoo-pic" />
      </div>
      <div class="tattoo-pic">
        <img class="pic" src="images/cat-tattoo.png" alt="tattoo-pic" />
      </div>
      <div class="tattoo-pic">
        <img class="pic" src="images/flame.jpg" alt="tattoo-pic" />
      </div>
      <div class="tattoo-pic">
        <img class="pic" src="images/ghost-tattoo.jpg" alt="tattoo-pic" />
      </div>
      <div class="tattoo-pic">
        <img class="pic" src="images/mandala.jpg" alt="tattoo-pic" />
      </div>
      <div class="tattoo-pic">
        <img class="pic" src="images/red-tattoo.png" alt="tattoo-pic" />
      </div>
      <div class="tattoo-pic">
        <img class="pic" src="images/tom.jpg" alt="tattoo-pic" />
      </div>
    </section>
    
