<link rel="stylesheet" href="css/index.css" />
<div id="main">
      <section id="main-content">
        <div class="main-content__box">
          <br />
          <h1 class="text shiny">Hakkımızda</h1>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            quibusdam, neque in incidunt error explicabo ex eius ratione
            maiores, officiis, vero consectetur. Beatae architecto ea sunt ut,
            optio, consequuntur praesentium quas nisi possimus recusandae
            quaerat qui mollitia pariatur fuga voluptas quasi, quidem aliquid
            vero dolore. Consectetur, modi quo dolor voluptatum omnis
            consequatur rerum repudiandae nam, vero amet error blanditiis
            possimus debitis iusto, sed enim? Reprehenderit perspiciatis
            repellat maxime vel, autem nihil soluta quisquam facere. Praesentium
            iste quam, deleniti autem distinctio fugiat officiis corrupti in qui
            ut ipsum ratione nemo, ex delectus rem! Fugiat asperiores distinctio
            ratione illum beatae. Repudiandae, error!
          </p>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            quibusdam, neque in incidunt error explicabo ex eius ratione
            maiores, officiis, vero consectetur. Beatae architecto ea sunt ut,
            optio, consequuntur praesentium quas nisi possimus recusandae
            quaerat qui mollitia pariatur fuga voluptas quasi, quidem aliquid
            vero dolore. Consectetur, modi quo dolor voluptatum omnis
            consequatur rerum repudiandae nam, vero amet error blanditiis
            possimus debitis iusto, sed enim? Reprehenderit perspiciatis
            repellat maxime vel, autem nihil soluta quisquam facere. Praesentium
            iste quam, deleniti autem distinctio fugiat officiis corrupti in qui
            ut ipsum ratione nemo, ex delectus rem! Fugiat asperiores distinctio
            ratione illum beatae. Repudiandae, error!
          </p>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            quibusdam, neque in incidunt error explicabo ex eius ratione
            maiores, officiis, vero consectetur. Beatae architecto ea sunt ut,
            optio, consequuntur praesentium quas nisi possimus recusandae
            quaerat qui mollitia pariatur fuga voluptas quasi, quidem aliquid
            vero dolore. Consectetur, modi quo dolor voluptatum omnis
            consequatur rerum repudiandae nam, vero amet error blanditiis
            possimus debitis iusto, sed enim? Reprehenderit perspiciatis
            repellat maxime vel, autem nihil soluta quisquam facere. Praesentium
            iste quam, deleniti autem distinctio fugiat officiis corrupti in qui
            ut ipsum ratione nemo, ex delectus rem! Fugiat asperiores distinctio
            ratione illum beatae. Repudiandae, error!
          </p>
        </div>
      </section>
      <section id="side">
        <div class="artist-photo">
          <img
            class="zoom"
            src="images/Anthony-Michaels.jpg"
            alt="artist-photo"
          />
          <h2 class="text shiny">Anthony Michaels</h2>

          <p class="text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum,
            illum?
          </p>
        </div>
        <div class="artist-photo">
          <img
            class="zoom"
            src="images/Hannah-Pixie-Snowdon.jpg"
            alt="artist-photo"
          />
          <h2 class="text shiny">Hannah Pixie</h2>
          <p class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, ea.
          </p>
        </div>
      </section>
    </div>