<link rel="stylesheet" href="css/s-s-s.css" />
<section id="main-content">
      <div class="sss">
        <div class="soru-cevap">
          <details>
            <summary>
              <h3>DÖVME YAPTIRIRKEN CANIM YANAR MI?</h3>
            </summary>
            <div>
              <p>
                Dövme yaptırmaya ilk kez başlayacak insanların en çok merak
                ettikleri soru -Dövme Acıtır mı? sorusu olsa gerek. Elbette çok
                da haklı bir soru. Bu soruya verilebilecek net bir yanıt yok
                ancak şu şekilde tanımlayabiliriz; İnsların deri farklılıkları
                yapılan bölgenin hassasiyet derecesi ile kişinin hehangi bir
                alerjik, kronik hastalığı ile cillt haslatağının olması, ülkeler
                arası deri renklerinin farklılıkları, beslenme şekilleri,
                yapılan mevsim gibi pek çok faktör acı seviyesini değiştirir.
                Özellikle bazı bölgeler daha fazla acır mesela avuç içi ve yüz
                bölgesi en çok acıyan bölgelerdir. Kafanın saçlı bölgesi ile
                ense bölgesi çok acımamasına rağmen makinanın sesini fazlasıyla
                algılayan baş bölgesi insan algısında bir halüsinasyon yaratarak
                daha çok acıyormuş hissi verir. Bazı dövme teknikleri ve
                dövmenin büyüklüğü de acı algısında farklılık yaratır. Tüm bu
                faktörlere ek olarak dövmeyi yapan kişinin ustalığı ve
                kullandığı malzemelerin kalitesi de çok önemlidir. Tüm bu
                etkenlere rağmen söylenebilecek çok net bir yanıt varsa o da
                katlanılamayacak bir acı olmadığı şeklindedir. Unutmamalı ki
                insan psikolojisi de acı algısını değiştiren büyük etkenlerin
                başında yer alır. Dövme yaptırmaya çok istekli ve hevesli
                birinin acıya vereceği yanıt ile çok büyük bir korku algısı ile
                önyargılı olan kişilerin vereceği yanıtlar değişmektedir.
              </p>
            </div>
          </details>
        </div>
        <div class="soru-cevap">
          <details>
            <summary>
              <h3>DÖVME BAKIMI NASIL YAPILIR?</h3>
            </summary>
            <div>
              <p>
                Dövmenin bakımını dövme sanatçınız size dövme bittiğinde
                uygulamalı olarak gösterecek ve detaylı olarak anlatacaktır.
                Önemli olan ilk birkaç gün boyunca bölgenin suyla temas etmemesi
                ve sonrasında temizliğinin ve kremleme aşamalarının düzenli
                olarak uygulanmasıdır. Yapılan tüm işlemler öncesinde
                antibakteri özelliği yüksek sabunlarla önve eller iyice
                yıkanmalı, daha sonrasında bölge yine antibakteri özelliği
                yüksek sabunlarla yıkanıp kağıt havlu ile kurulanarak önerilen
                iyileştirici kremler ile nemlendirilmeli ve mikrop kapma riski
                yüksek olan ortamlara girmekten, elle temestan kaçınılmalıdır.
                Tüm bu kurallara dikkat edildiği taktirde dövme kısa sürede
                iyileşecektir.
              </p>
            </div>
          </details>
        </div>
        <div class="soru-cevap">
          <details>
            <summary>
              <h3>DÖVME YAPTIRMADAN ÖNCE NELERE DİKKAT EDİLMELİDİR?</h3>
            </summary>
            <div>
              <p class="cevap">
                Dövme yaptırmadan önce dikkat edilecek en önemli husus bizce bu
                sürece psikolojik olarak gerçekten hazır olmaktır. Kişiler bir
                hevesle dövme yaptırıp sonrasında dövmeden memnun
                kalmayabilirler. Bu nedenle dövme deseninin, büyüklüğünün,
                renkli ya da siyah beyaz gibi ayrıntıların, dövmenin nereye
                yaptırılacağına kadar olan sürecin net olarak önceden
                belirlenmesi çok büyük fayda sağlar. Bu aşamaları tek başınıza
                atlatmak istemiyorsanız dövme sanatçınızdan randevu olarak bu
                süreci birlikte de planlayabilirsiniz. İkinci ve çok önemli olan
                bir detay ise dövme yaptırılacak kişi ve yerin çok iyi
                seçilmesidir. Dövme aşırı hijyen bir ortamda, kişiye özel
                yapılan bir uygulama olmak zorundadır. Ayrıca dövmeyi yapacak
                olan kişilerin eğitim seviyeleri, mümkünse güzel sanatlar
                fakültelerinden mezun olan resim , ışık, gölge, proporsiyon,
                desen bilgisi, motif, süsleme sanatları, tasarım bilgilerine
                sahip kişiler tarafından uygulanmalıdır. Çünkü dövme deseninin
                tek farkı kağıda ya da tuvale değil insan vücuduna yapılıyor
                olmasıdır. Diğer tüm ögeler sanat eğitimiyle ilgilidir. Dövmeyi
                yapan kişilerin profesyonel sanatçı olması çok büyük fayda
                sağlar.
              </p>
            </div>
          </details>
        </div>
        <div class="soru-cevap">
          <details>
            <summary><h3>DÖVME SİLİNEBİLİR Mİ?</h3></summary>
            <div>
              <p>
                Evet dövme silinebilir. Bunun tek yöntemi ise dermatoloji
                merkezlerinde lazer uygulaması yaptırmaktır. Bir kaç seans süren
                bu uygulama sonunda deriye zarar vermeden kolaylıkla ve tamamen
                dövme silinebilir.
              </p>
            </div>
          </details>
        </div>
        <div class="soru-cevap">
          <details>
            <summary><h3>KİMLERE DÖVME YAPILAMAZ?</h3></summary>
            <div>
              <p>
                Kanser riski taşıyan hastalara, şeker hastalarına, anemi ve
                lösemi gibi kanla ilgili hastalığı olanlara, emziren ve yeni
                doğum yapmış kadınlara, 18 yaşından küçüklere dövme yapmak
                sakıncalı olabilir. Böyle bir durumda doktor raporu olmaksızın
                dövme yaptırmak son derece tehlikeli sonuçlar doğurabilir.
              </p>
            </div>
          </details>
        </div>
        <div class="soru-cevap">
          <details>
            <summary>
              <h3>DÖVME YAPTIRDIKTAN SONRA NE KADAR SÜRE BANYO YAPILMAZ?</h3>
            </summary>
            <div>
              <p>
                Dövme yapılan yerin bakımı yapıldıktan sonra dövme sanatçınız
                tarafından ince bir strech film vb madde ile kapatılacaktır. Su
                sızmayacağından emin olduğunuz taktirde banyo yapmanızda bir
                sakınca olmaz. Kapatılamayacak kadar büyük bir bölgeye dövme
                yapılmış ise ( sırt yüzeyi göğüs gibi) en az iki gün hiç su
                değmemesi gerekecektir.
              </p>
            </div>
          </details>
        </div>
        <div class="soru-cevap">
          <details>
            <summary>
              <h3>DÖVME YAPTIRDIKTAN SONRA GÜNEŞE ÇIKILABİLİR Mİ?</h3>
            </summary>
            <div>
              <p>
                Hayır çıkılmaz. En az 19-16 gün dövmenin güneşten korunması
                gerekir zira dövme zarar görecektir. Çok iyi bir güneş kremi ile
                dövmeyi korumak gereklidir.
              </p>
            </div>
          </details>
        </div>
        <div class="soru-cevap">
          <details>
            <summary>
              <h3>DÖVME YAPTIRDIKTAN SONRA DENİZE VEYA HAVUZA GİRİLİR Mİ?</h3>
            </summary>
            <div>
              <p>
                Hayır girilemez. Mikrop kapka riski yüksek olan bölgenin en az
                10-15 gün deniz ve havuzdan korunması gereklidir.
              </p>
            </div>
          </details>
        </div>
      </div>
    </section>